<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
&#xA;                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>Translator API</display-name>
    <servlet>
        <servlet-name>JerseyServlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <!-- On dit à Jersey où trouver les ressources REST -->
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>org.translate.com.api,org.translate.com.security,org.translate.com.config</param-value>
        </init-param>
        <!-- <init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>org.translate.com.config.TranslatorApplication</param-value>
        </init-param> -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JerseyServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <!-- Configure JSP servlet to use the JDT (Eclipse) compiler when available (ECJ jar packaged in WAR)
         This makes Tomcat's Jasper use the Eclipse compiler instead of the default javac. -->
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>compilerClassName</param-name>
            <param-value>org.apache.jasper.compiler.JDTCompiler</param-value>
        </init-param>
        <init-param>
            <param-name>compilerSourceVM</param-name>
            <param-value>21</param-value>
        </init-param>
        <init-param>
            <param-name>compilerTargetVM</param-name>
            <param-value>21</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
</web-app>
